label,input, .btn, .input-group-addon {
	font-size:.875rem !important;
}

.btn {
	padding: .4rem 1rem;
}

.form-group {
	.form-control,.help-block {
		font-size:.875rem !important;
	}
	label {

	}

	input {

	}

	.help-block {
		margin-top: 0.25rem;
	}
}