@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	background-color : $colorGreylight;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	letter-spacing: 2px;
}

a {
	text-decoration: none;
}

ul {
	li {
		list-style: none;
	}
}



.content {
	margin: 85px 15px 0 315px;
	padding: .5rem;
	@media (max-width: 1169px) {
		margin: 100px 15px 0 15px;
	}
	.header {
		h1 {
			font-size: 1.25rem;
			font-weight: 600;
			text-transform: uppercase;
		}

		
	}
}