@mixin border-radius($radius) {
    -webkit-border-radius: $radius !important;
    -moz-border-radius: $radius !important;
    -ms-border-radius: $radius !important;
    border-radius: $radius !important;
}

@mixin box-shadow($shadowinfo) {
    -webkit-box-shadow: $shadowinfo;
    -moz-box-shadow: $shadowinfo;
    -ms-box-shadow: $shadowinfo;
    box-shadow: $shadowinfo;
}

@mixin transform($transform) {
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    -webkit-transform: $transform;
    transform: $transform;
}

@mixin transition($transition) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin bg-gradient($dirfrom, $dirto, $from, $to) {
    background-image:
   -webkit-linear-gradient(linear,$dirfrom, $dirto, $from, $to); 
  
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image:
    -webkit-linear-gradient($dirto, $from, $to);

  /* Firefox 3.6 - 15 */
  background-image:
    -moz-linear-gradient($dirto, $from, $to);

  /* Opera 11.1 - 12 */
  background-image:
    -o-linear-gradient($dirto, $from, $to);

  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image:
    linear-gradient(to $dirto, $from, $to);
}