.overlay {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    @include transition(opacity .3s);
    z-index: 10;
    
}

.sidebar {
	background-color: $colorWhite;
	width: 300px;
	height: calc(100vh - 70px);
	overflow: hidden;
	position: fixed;
	top: 70px;
	left: 0;
	display: inline-block;
	z-index: 11 !important;
	margin-left:0px;
	@media (max-width: 1169px) {
		margin-left:-300px;
		@include transition(all .3s);
/*		&.show {
			margin-left:0px;
			@include transition(all .3s);
		}*/
	}

	.user-info {
		padding : 13px 15px 12px 15px;
	    height: 135px;
        background: url(../img/bg-user-profile.jpg) left top no-repeat;
    	background-size: cover;
    	position: relative;

    	.image {
			width: 48px;
			height: 48px;
			img {
				width: 100%;
			}
    	}
    	.info {
			position:absolute;
			left: 0px;
			bottom: 0px;
			width: 100%;
			background-color: rgba(0,0,0,0.5);
			padding: 7px 15px;
			color: $colorWhite;
			h5 {
				font-size: 16px;
				margin: 0;
			}
    	}
	}
}

.overlay-show {
/*	.overlay {
		display: block;
		opacity: 1;
		@include transition(opacity .3s);
	}*/

	.sidebar {
		@media (max-width: 1169px) {
			margin-left:0px;
			@include transition(all .3s);
		}


	}
	

}