@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* line 3, ../scss/_general.scss */
body {
  background-color: #F3F3F3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}

/* line 10, ../scss/_general.scss */
a {
  text-decoration: none;
}

/* line 15, ../scss/_general.scss */
ul li {
  list-style: none;
}

/* line 22, ../scss/_general.scss */
.content {
  margin: 85px 15px 0 315px;
  padding: .5rem;
}
@media (max-width: 1169px) {
  /* line 22, ../scss/_general.scss */
  .content {
    margin: 100px 15px 0 15px;
  }
}
/* line 29, ../scss/_general.scss */
.content .header h1 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* line 1, ../scss/_navbar.scss */
.navbar {
  padding: 0;
  background-color: #FFFFFF !important;
  left: 300px;
  height: 70px;
}
@media (max-width: 1169px) {
  /* line 1, ../scss/_navbar.scss */
  .navbar {
    left: 0px;
  }
}
/* line 9, ../scss/_navbar.scss */
.navbar .navbar-toggler {
  /*display:none !important;*/
  padding: 1rem !important;
  border-color: transparent;
  outline: 0;
  cursor: pointer;
}
/* line 15, ../scss/_navbar.scss */
.navbar .navbar-toggler:focus {
  border: none;
}
@media (max-width: 1169px) {
  /* line 9, ../scss/_navbar.scss */
  .navbar .navbar-toggler {
    display: inline-block !important;
  }
}
/* line 22, ../scss/_navbar.scss */
.navbar .navbar-brand {
  margin-right: 0;
  width: 375px;
  height: 70px;
  padding: 1rem !important;
  background: transparent;
}
@media (max-width: 1169px) {
  /* line 22, ../scss/_navbar.scss */
  .navbar .navbar-brand {
    margin-left: 4.5rem;
  }
}
/* line 33, ../scss/_navbar.scss */
.navbar .navbar-nav {
  margin-right: 15px;
  vertical-align: top;
  min-width: 50px;
}
/* line 37, ../scss/_navbar.scss */
.navbar .navbar-nav li {
  display: inline-block;
}
/* line 39, ../scss/_navbar.scss */
.navbar .navbar-nav li a {
  padding: 7px 10px 2px 10px;
  margin-top: 17px;
  margin-left: 5px;
  color: #3F51B5;
}
/* line 44, ../scss/_navbar.scss */
.navbar .navbar-nav li a i {
  font-size: 24px;
}

/* line 1, ../scss/_reset.scss */
ol.breadcrumb {
  padding: 0rem !important;
  background-color: transparent !important;
}

/* line 1, ../scss/_sidebar.scss */
.overlay {
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 10;
}

/* line 15, ../scss/_sidebar.scss */
.sidebar {
  background: url(../img/bg-sidebar.jpg) center center no-repeat;
  background-size: cover;
  width: 300px;
  /*height: calc(100vh - 70px);*/
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0px;
  /*	padding-top:70px;*/
  left: 0;
  display: inline-block;
  z-index: 11 !important;
  margin-left: 0px;
}
@media (max-width: 1169px) {
  /* line 15, ../scss/_sidebar.scss */
  .sidebar {
    margin-left: -300px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    /*		&.show {
    			margin-left:0px;
    			@include transition(all .3s);
    		}*/
  }
}
/* line 38, ../scss/_sidebar.scss */
.sidebar .navbar-brand {
  height: 70px;
  text-align: center;
  font-weight: 600;
  /*width: calc(300px - 36px);*/
  width: 100%;
  padding: 15px;
  color: #FFFFFF;
  /*    	border-bottom: solid 1px $colorWhite;*/
  margin: 0;
  background-color: rgba(63, 81, 181, 0.8);
}
/* line 51, ../scss/_sidebar.scss */
.sidebar .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(linear, bottom, top, #3f51b5, rgba(63, 81, 181, 0.75));
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image: -webkit-linear-gradient(top, #3f51b5, rgba(63, 81, 181, 0.75));
  /* Firefox 3.6 - 15 */
  background-image: -moz-linear-gradient(top, #3f51b5, rgba(63, 81, 181, 0.75));
  /* Opera 11.1 - 12 */
  background-image: -o-linear-gradient(top, #3f51b5, rgba(63, 81, 181, 0.75));
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image: linear-gradient(to top, #3f51b5, rgba(63, 81, 181, 0.75));
  z-index: -1;
}
/* line 61, ../scss/_sidebar.scss */
.sidebar .user-info {
  padding: 13px 15px 12px 15px;
  height: 135px;
  /*        background: url(../img/bg-user-profile.jpg) left top no-repeat;*/
  background-size: cover;
  position: relative;
}
/* line 68, ../scss/_sidebar.scss */
.sidebar .user-info .image {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  margin-top: .5rem;
}
/* line 73, ../scss/_sidebar.scss */
.sidebar .user-info .image img {
  width: 100%;
}
/* line 77, ../scss/_sidebar.scss */
.sidebar .user-info .info {
  position: absolute;
  left: 0px;
  bottom: 15px;
  width: 100%;
  /*			background-color: rgba(0,0,0,0.5);*/
  padding: 7px 15px;
  color: #FFFFFF;
}
/* line 85, ../scss/_sidebar.scss */
.sidebar .user-info .info h5 {
  font-size: 16px;
  margin: 0;
  text-align: center;
}
/* line 94, ../scss/_sidebar.scss */
.sidebar .menu .menu-title {
  padding: 0 1em;
  margin-top: .75rem;
}
/* line 97, ../scss/_sidebar.scss */
.sidebar .menu .menu-title h4 {
  color: #F3F3F3;
  font-size: 16px;
  /*				font-weight: 600;*/
  padding-bottom: .5rem;
  border-bottom: solid 1px #FFFFFF;
  opacity: 0.875;
}
/* line 106, ../scss/_sidebar.scss */
.sidebar .menu ul.nav {
  margin-bottom: 1.5rem;
}
/* line 109, ../scss/_sidebar.scss */
.sidebar .menu ul.nav .nav-item .nav-link {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  padding: 0.75em 1em;
}
/* line 116, ../scss/_sidebar.scss */
.sidebar .menu ul.nav .nav-item.active, .sidebar .menu ul.nav .nav-item:hover, .sidebar .menu ul.nav .nav-item:focus {
  background-color: rgba(33, 33, 33, 0.25);
}
/* line 118, ../scss/_sidebar.scss */
.sidebar .menu ul.nav .nav-item.active a, .sidebar .menu ul.nav .nav-item:hover a, .sidebar .menu ul.nav .nav-item:focus a {
  color: #FFFFFF;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  border-radius: 0px !important;
}
/* line 125, ../scss/_sidebar.scss */
.sidebar .menu ul.nav .nav-item.has-child[aria-expanded="true"] {
  background-color: rgba(33, 33, 33, 0.25);
}
/* line 128, ../scss/_sidebar.scss */
.sidebar .menu ul.nav .nav-item.has-child .menu-child-wrapper {
  margin-left: 1rem;
}
/* line 130, ../scss/_sidebar.scss */
.sidebar .menu ul.nav .nav-item.has-child .menu-child-wrapper .nav {
  margin-bottom: 0rem;
}
/* line 132, ../scss/_sidebar.scss */
.sidebar .menu ul.nav .nav-item.has-child .menu-child-wrapper .nav .nav-item {
  background: none !important;
  background-color: transparent !important;
}
/* line 135, ../scss/_sidebar.scss */
.sidebar .menu ul.nav .nav-item.has-child .menu-child-wrapper .nav .nav-item a {
  background: none !important;
  background-color: transparent !important;
  /*padding-left: 2rem;*/
}
/* line 141, ../scss/_sidebar.scss */
.sidebar .menu ul.nav .nav-item.has-child .menu-child-wrapper .nav:hover, .sidebar .menu ul.nav .nav-item.has-child .menu-child-wrapper .nav:focus {
  background: none !important;
  background-color: transparent !important;
}
/* line 144, ../scss/_sidebar.scss */
.sidebar .menu ul.nav .nav-item.has-child .menu-child-wrapper .nav:hover a, .sidebar .menu ul.nav .nav-item.has-child .menu-child-wrapper .nav:focus a {
  background: none !important;
  background-color: transparent !important;
  color: #FFFFFF;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  border-radius: 0px !important;
}

/* line 159, ../scss/_sidebar.scss */
.overlay-show {
  /*	.overlay {
  		display: block;
  		opacity: 1;
  		@include transition(opacity .3s);
  	}*/
}
@media (max-width: 1169px) {
  /* line 166, ../scss/_sidebar.scss */
  .overlay-show .sidebar {
    margin-left: 0px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
