@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* line 2, ../scss/_test.scss */
.m0 {
  margin: 0px;
}

/* line 6, ../scss/_test.scss */
.mrl0 {
  margin-left: 0px;
  margin-right: 0px;
}

/* line 11, ../scss/_test.scss */
.mtb0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* line 16, ../scss/_test.scss */
.ml0 {
  margin-left: 0px;
}

/* line 20, ../scss/_test.scss */
.mr0 {
  margin-right: 0px;
}

/* line 24, ../scss/_test.scss */
.mt0 {
  margin-top: 0px;
}

/* line 28, ../scss/_test.scss */
.mb0 {
  margin-bottom: 0px;
}

/* line 2, ../scss/_test.scss */
.m5 {
  margin: 5px;
}

/* line 6, ../scss/_test.scss */
.mrl5 {
  margin-left: 5px;
  margin-right: 5px;
}

/* line 11, ../scss/_test.scss */
.mtb5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 16, ../scss/_test.scss */
.ml5 {
  margin-left: 5px;
}

/* line 20, ../scss/_test.scss */
.mr5 {
  margin-right: 5px;
}

/* line 24, ../scss/_test.scss */
.mt5 {
  margin-top: 5px;
}

/* line 28, ../scss/_test.scss */
.mb5 {
  margin-bottom: 5px;
}

/* line 2, ../scss/_test.scss */
.m10 {
  margin: 10px;
}

/* line 6, ../scss/_test.scss */
.mrl10 {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 11, ../scss/_test.scss */
.mtb10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 16, ../scss/_test.scss */
.ml10 {
  margin-left: 10px;
}

/* line 20, ../scss/_test.scss */
.mr10 {
  margin-right: 10px;
}

/* line 24, ../scss/_test.scss */
.mt10 {
  margin-top: 10px;
}

/* line 28, ../scss/_test.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 2, ../scss/_test.scss */
.m15 {
  margin: 15px;
}

/* line 6, ../scss/_test.scss */
.mrl15 {
  margin-left: 15px;
  margin-right: 15px;
}

/* line 11, ../scss/_test.scss */
.mtb15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 16, ../scss/_test.scss */
.ml15 {
  margin-left: 15px;
}

/* line 20, ../scss/_test.scss */
.mr15 {
  margin-right: 15px;
}

/* line 24, ../scss/_test.scss */
.mt15 {
  margin-top: 15px;
}

/* line 28, ../scss/_test.scss */
.mb15 {
  margin-bottom: 15px;
}

/* line 2, ../scss/_test.scss */
.m20 {
  margin: 20px;
}

/* line 6, ../scss/_test.scss */
.mrl20 {
  margin-left: 20px;
  margin-right: 20px;
}

/* line 11, ../scss/_test.scss */
.mtb20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 16, ../scss/_test.scss */
.ml20 {
  margin-left: 20px;
}

/* line 20, ../scss/_test.scss */
.mr20 {
  margin-right: 20px;
}

/* line 24, ../scss/_test.scss */
.mt20 {
  margin-top: 20px;
}

/* line 28, ../scss/_test.scss */
.mb20 {
  margin-bottom: 20px;
}

/* line 2, ../scss/_test.scss */
.m25 {
  margin: 25px;
}

/* line 6, ../scss/_test.scss */
.mrl25 {
  margin-left: 25px;
  margin-right: 25px;
}

/* line 11, ../scss/_test.scss */
.mtb25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* line 16, ../scss/_test.scss */
.ml25 {
  margin-left: 25px;
}

/* line 20, ../scss/_test.scss */
.mr25 {
  margin-right: 25px;
}

/* line 24, ../scss/_test.scss */
.mt25 {
  margin-top: 25px;
}

/* line 28, ../scss/_test.scss */
.mb25 {
  margin-bottom: 25px;
}

/* line 2, ../scss/_test.scss */
.m30 {
  margin: 30px;
}

/* line 6, ../scss/_test.scss */
.mrl30 {
  margin-left: 30px;
  margin-right: 30px;
}

/* line 11, ../scss/_test.scss */
.mtb30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 16, ../scss/_test.scss */
.ml30 {
  margin-left: 30px;
}

/* line 20, ../scss/_test.scss */
.mr30 {
  margin-right: 30px;
}

/* line 24, ../scss/_test.scss */
.mt30 {
  margin-top: 30px;
}

/* line 28, ../scss/_test.scss */
.mb30 {
  margin-bottom: 30px;
}

/* line 2, ../scss/_test.scss */
.m35 {
  margin: 35px;
}

/* line 6, ../scss/_test.scss */
.mrl35 {
  margin-left: 35px;
  margin-right: 35px;
}

/* line 11, ../scss/_test.scss */
.mtb35 {
  margin-top: 35px;
  margin-bottom: 35px;
}

/* line 16, ../scss/_test.scss */
.ml35 {
  margin-left: 35px;
}

/* line 20, ../scss/_test.scss */
.mr35 {
  margin-right: 35px;
}

/* line 24, ../scss/_test.scss */
.mt35 {
  margin-top: 35px;
}

/* line 28, ../scss/_test.scss */
.mb35 {
  margin-bottom: 35px;
}

/* line 2, ../scss/_test.scss */
.m40 {
  margin: 40px;
}

/* line 6, ../scss/_test.scss */
.mrl40 {
  margin-left: 40px;
  margin-right: 40px;
}

/* line 11, ../scss/_test.scss */
.mtb40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* line 16, ../scss/_test.scss */
.ml40 {
  margin-left: 40px;
}

/* line 20, ../scss/_test.scss */
.mr40 {
  margin-right: 40px;
}

/* line 24, ../scss/_test.scss */
.mt40 {
  margin-top: 40px;
}

/* line 28, ../scss/_test.scss */
.mb40 {
  margin-bottom: 40px;
}

/* line 2, ../scss/_test.scss */
.m45 {
  margin: 45px;
}

/* line 6, ../scss/_test.scss */
.mrl45 {
  margin-left: 45px;
  margin-right: 45px;
}

/* line 11, ../scss/_test.scss */
.mtb45 {
  margin-top: 45px;
  margin-bottom: 45px;
}

/* line 16, ../scss/_test.scss */
.ml45 {
  margin-left: 45px;
}

/* line 20, ../scss/_test.scss */
.mr45 {
  margin-right: 45px;
}

/* line 24, ../scss/_test.scss */
.mt45 {
  margin-top: 45px;
}

/* line 28, ../scss/_test.scss */
.mb45 {
  margin-bottom: 45px;
}

/* line 2, ../scss/_test.scss */
.m50 {
  margin: 50px;
}

/* line 6, ../scss/_test.scss */
.mrl50 {
  margin-left: 50px;
  margin-right: 50px;
}

/* line 11, ../scss/_test.scss */
.mtb50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* line 16, ../scss/_test.scss */
.ml50 {
  margin-left: 50px;
}

/* line 20, ../scss/_test.scss */
.mr50 {
  margin-right: 50px;
}

/* line 24, ../scss/_test.scss */
.mt50 {
  margin-top: 50px;
}

/* line 28, ../scss/_test.scss */
.mb50 {
  margin-bottom: 50px;
}

/* line 2, ../scss/_test.scss */
.m55 {
  margin: 55px;
}

/* line 6, ../scss/_test.scss */
.mrl55 {
  margin-left: 55px;
  margin-right: 55px;
}

/* line 11, ../scss/_test.scss */
.mtb55 {
  margin-top: 55px;
  margin-bottom: 55px;
}

/* line 16, ../scss/_test.scss */
.ml55 {
  margin-left: 55px;
}

/* line 20, ../scss/_test.scss */
.mr55 {
  margin-right: 55px;
}

/* line 24, ../scss/_test.scss */
.mt55 {
  margin-top: 55px;
}

/* line 28, ../scss/_test.scss */
.mb55 {
  margin-bottom: 55px;
}

/* line 2, ../scss/_test.scss */
.m60 {
  margin: 60px;
}

/* line 6, ../scss/_test.scss */
.mrl60 {
  margin-left: 60px;
  margin-right: 60px;
}

/* line 11, ../scss/_test.scss */
.mtb60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

/* line 16, ../scss/_test.scss */
.ml60 {
  margin-left: 60px;
}

/* line 20, ../scss/_test.scss */
.mr60 {
  margin-right: 60px;
}

/* line 24, ../scss/_test.scss */
.mt60 {
  margin-top: 60px;
}

/* line 28, ../scss/_test.scss */
.mb60 {
  margin-bottom: 60px;
}

/* line 2, ../scss/_test.scss */
.m65 {
  margin: 65px;
}

/* line 6, ../scss/_test.scss */
.mrl65 {
  margin-left: 65px;
  margin-right: 65px;
}

/* line 11, ../scss/_test.scss */
.mtb65 {
  margin-top: 65px;
  margin-bottom: 65px;
}

/* line 16, ../scss/_test.scss */
.ml65 {
  margin-left: 65px;
}

/* line 20, ../scss/_test.scss */
.mr65 {
  margin-right: 65px;
}

/* line 24, ../scss/_test.scss */
.mt65 {
  margin-top: 65px;
}

/* line 28, ../scss/_test.scss */
.mb65 {
  margin-bottom: 65px;
}

/* line 2, ../scss/_test.scss */
.m70 {
  margin: 70px;
}

/* line 6, ../scss/_test.scss */
.mrl70 {
  margin-left: 70px;
  margin-right: 70px;
}

/* line 11, ../scss/_test.scss */
.mtb70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

/* line 16, ../scss/_test.scss */
.ml70 {
  margin-left: 70px;
}

/* line 20, ../scss/_test.scss */
.mr70 {
  margin-right: 70px;
}

/* line 24, ../scss/_test.scss */
.mt70 {
  margin-top: 70px;
}

/* line 28, ../scss/_test.scss */
.mb70 {
  margin-bottom: 70px;
}

/* line 2, ../scss/_test.scss */
.m75 {
  margin: 75px;
}

/* line 6, ../scss/_test.scss */
.mrl75 {
  margin-left: 75px;
  margin-right: 75px;
}

/* line 11, ../scss/_test.scss */
.mtb75 {
  margin-top: 75px;
  margin-bottom: 75px;
}

/* line 16, ../scss/_test.scss */
.ml75 {
  margin-left: 75px;
}

/* line 20, ../scss/_test.scss */
.mr75 {
  margin-right: 75px;
}

/* line 24, ../scss/_test.scss */
.mt75 {
  margin-top: 75px;
}

/* line 28, ../scss/_test.scss */
.mb75 {
  margin-bottom: 75px;
}

/* line 2, ../scss/_test.scss */
.m80 {
  margin: 80px;
}

/* line 6, ../scss/_test.scss */
.mrl80 {
  margin-left: 80px;
  margin-right: 80px;
}

/* line 11, ../scss/_test.scss */
.mtb80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

/* line 16, ../scss/_test.scss */
.ml80 {
  margin-left: 80px;
}

/* line 20, ../scss/_test.scss */
.mr80 {
  margin-right: 80px;
}

/* line 24, ../scss/_test.scss */
.mt80 {
  margin-top: 80px;
}

/* line 28, ../scss/_test.scss */
.mb80 {
  margin-bottom: 80px;
}

/* line 2, ../scss/_test.scss */
.m85 {
  margin: 85px;
}

/* line 6, ../scss/_test.scss */
.mrl85 {
  margin-left: 85px;
  margin-right: 85px;
}

/* line 11, ../scss/_test.scss */
.mtb85 {
  margin-top: 85px;
  margin-bottom: 85px;
}

/* line 16, ../scss/_test.scss */
.ml85 {
  margin-left: 85px;
}

/* line 20, ../scss/_test.scss */
.mr85 {
  margin-right: 85px;
}

/* line 24, ../scss/_test.scss */
.mt85 {
  margin-top: 85px;
}

/* line 28, ../scss/_test.scss */
.mb85 {
  margin-bottom: 85px;
}

/* line 2, ../scss/_test.scss */
.m90 {
  margin: 90px;
}

/* line 6, ../scss/_test.scss */
.mrl90 {
  margin-left: 90px;
  margin-right: 90px;
}

/* line 11, ../scss/_test.scss */
.mtb90 {
  margin-top: 90px;
  margin-bottom: 90px;
}

/* line 16, ../scss/_test.scss */
.ml90 {
  margin-left: 90px;
}

/* line 20, ../scss/_test.scss */
.mr90 {
  margin-right: 90px;
}

/* line 24, ../scss/_test.scss */
.mt90 {
  margin-top: 90px;
}

/* line 28, ../scss/_test.scss */
.mb90 {
  margin-bottom: 90px;
}

/* line 2, ../scss/_test.scss */
.m95 {
  margin: 95px;
}

/* line 6, ../scss/_test.scss */
.mrl95 {
  margin-left: 95px;
  margin-right: 95px;
}

/* line 11, ../scss/_test.scss */
.mtb95 {
  margin-top: 95px;
  margin-bottom: 95px;
}

/* line 16, ../scss/_test.scss */
.ml95 {
  margin-left: 95px;
}

/* line 20, ../scss/_test.scss */
.mr95 {
  margin-right: 95px;
}

/* line 24, ../scss/_test.scss */
.mt95 {
  margin-top: 95px;
}

/* line 28, ../scss/_test.scss */
.mb95 {
  margin-bottom: 95px;
}

/* line 2, ../scss/_test.scss */
.m100 {
  margin: 100px;
}

/* line 6, ../scss/_test.scss */
.mrl100 {
  margin-left: 100px;
  margin-right: 100px;
}

/* line 11, ../scss/_test.scss */
.mtb100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* line 16, ../scss/_test.scss */
.ml100 {
  margin-left: 100px;
}

/* line 20, ../scss/_test.scss */
.mr100 {
  margin-right: 100px;
}

/* line 24, ../scss/_test.scss */
.mt100 {
  margin-top: 100px;
}

/* line 28, ../scss/_test.scss */
.mb100 {
  margin-bottom: 100px;
}

/* line 2, ../scss/_test.scss */
.m105 {
  margin: 105px;
}

/* line 6, ../scss/_test.scss */
.mrl105 {
  margin-left: 105px;
  margin-right: 105px;
}

/* line 11, ../scss/_test.scss */
.mtb105 {
  margin-top: 105px;
  margin-bottom: 105px;
}

/* line 16, ../scss/_test.scss */
.ml105 {
  margin-left: 105px;
}

/* line 20, ../scss/_test.scss */
.mr105 {
  margin-right: 105px;
}

/* line 24, ../scss/_test.scss */
.mt105 {
  margin-top: 105px;
}

/* line 28, ../scss/_test.scss */
.mb105 {
  margin-bottom: 105px;
}

/* line 2, ../scss/_test.scss */
.m110 {
  margin: 110px;
}

/* line 6, ../scss/_test.scss */
.mrl110 {
  margin-left: 110px;
  margin-right: 110px;
}

/* line 11, ../scss/_test.scss */
.mtb110 {
  margin-top: 110px;
  margin-bottom: 110px;
}

/* line 16, ../scss/_test.scss */
.ml110 {
  margin-left: 110px;
}

/* line 20, ../scss/_test.scss */
.mr110 {
  margin-right: 110px;
}

/* line 24, ../scss/_test.scss */
.mt110 {
  margin-top: 110px;
}

/* line 28, ../scss/_test.scss */
.mb110 {
  margin-bottom: 110px;
}

/* line 2, ../scss/_test.scss */
.m115 {
  margin: 115px;
}

/* line 6, ../scss/_test.scss */
.mrl115 {
  margin-left: 115px;
  margin-right: 115px;
}

/* line 11, ../scss/_test.scss */
.mtb115 {
  margin-top: 115px;
  margin-bottom: 115px;
}

/* line 16, ../scss/_test.scss */
.ml115 {
  margin-left: 115px;
}

/* line 20, ../scss/_test.scss */
.mr115 {
  margin-right: 115px;
}

/* line 24, ../scss/_test.scss */
.mt115 {
  margin-top: 115px;
}

/* line 28, ../scss/_test.scss */
.mb115 {
  margin-bottom: 115px;
}

/* line 2, ../scss/_test.scss */
.m120 {
  margin: 120px;
}

/* line 6, ../scss/_test.scss */
.mrl120 {
  margin-left: 120px;
  margin-right: 120px;
}

/* line 11, ../scss/_test.scss */
.mtb120 {
  margin-top: 120px;
  margin-bottom: 120px;
}

/* line 16, ../scss/_test.scss */
.ml120 {
  margin-left: 120px;
}

/* line 20, ../scss/_test.scss */
.mr120 {
  margin-right: 120px;
}

/* line 24, ../scss/_test.scss */
.mt120 {
  margin-top: 120px;
}

/* line 28, ../scss/_test.scss */
.mb120 {
  margin-bottom: 120px;
}

/* line 2, ../scss/_test.scss */
.m125 {
  margin: 125px;
}

/* line 6, ../scss/_test.scss */
.mrl125 {
  margin-left: 125px;
  margin-right: 125px;
}

/* line 11, ../scss/_test.scss */
.mtb125 {
  margin-top: 125px;
  margin-bottom: 125px;
}

/* line 16, ../scss/_test.scss */
.ml125 {
  margin-left: 125px;
}

/* line 20, ../scss/_test.scss */
.mr125 {
  margin-right: 125px;
}

/* line 24, ../scss/_test.scss */
.mt125 {
  margin-top: 125px;
}

/* line 28, ../scss/_test.scss */
.mb125 {
  margin-bottom: 125px;
}

/* line 2, ../scss/_test.scss */
.m130 {
  margin: 130px;
}

/* line 6, ../scss/_test.scss */
.mrl130 {
  margin-left: 130px;
  margin-right: 130px;
}

/* line 11, ../scss/_test.scss */
.mtb130 {
  margin-top: 130px;
  margin-bottom: 130px;
}

/* line 16, ../scss/_test.scss */
.ml130 {
  margin-left: 130px;
}

/* line 20, ../scss/_test.scss */
.mr130 {
  margin-right: 130px;
}

/* line 24, ../scss/_test.scss */
.mt130 {
  margin-top: 130px;
}

/* line 28, ../scss/_test.scss */
.mb130 {
  margin-bottom: 130px;
}

/* line 2, ../scss/_test.scss */
.m135 {
  margin: 135px;
}

/* line 6, ../scss/_test.scss */
.mrl135 {
  margin-left: 135px;
  margin-right: 135px;
}

/* line 11, ../scss/_test.scss */
.mtb135 {
  margin-top: 135px;
  margin-bottom: 135px;
}

/* line 16, ../scss/_test.scss */
.ml135 {
  margin-left: 135px;
}

/* line 20, ../scss/_test.scss */
.mr135 {
  margin-right: 135px;
}

/* line 24, ../scss/_test.scss */
.mt135 {
  margin-top: 135px;
}

/* line 28, ../scss/_test.scss */
.mb135 {
  margin-bottom: 135px;
}

/* line 2, ../scss/_test.scss */
.m140 {
  margin: 140px;
}

/* line 6, ../scss/_test.scss */
.mrl140 {
  margin-left: 140px;
  margin-right: 140px;
}

/* line 11, ../scss/_test.scss */
.mtb140 {
  margin-top: 140px;
  margin-bottom: 140px;
}

/* line 16, ../scss/_test.scss */
.ml140 {
  margin-left: 140px;
}

/* line 20, ../scss/_test.scss */
.mr140 {
  margin-right: 140px;
}

/* line 24, ../scss/_test.scss */
.mt140 {
  margin-top: 140px;
}

/* line 28, ../scss/_test.scss */
.mb140 {
  margin-bottom: 140px;
}

/* line 2, ../scss/_test.scss */
.m145 {
  margin: 145px;
}

/* line 6, ../scss/_test.scss */
.mrl145 {
  margin-left: 145px;
  margin-right: 145px;
}

/* line 11, ../scss/_test.scss */
.mtb145 {
  margin-top: 145px;
  margin-bottom: 145px;
}

/* line 16, ../scss/_test.scss */
.ml145 {
  margin-left: 145px;
}

/* line 20, ../scss/_test.scss */
.mr145 {
  margin-right: 145px;
}

/* line 24, ../scss/_test.scss */
.mt145 {
  margin-top: 145px;
}

/* line 28, ../scss/_test.scss */
.mb145 {
  margin-bottom: 145px;
}

/* line 2, ../scss/_test.scss */
.m150 {
  margin: 150px;
}

/* line 6, ../scss/_test.scss */
.mrl150 {
  margin-left: 150px;
  margin-right: 150px;
}

/* line 11, ../scss/_test.scss */
.mtb150 {
  margin-top: 150px;
  margin-bottom: 150px;
}

/* line 16, ../scss/_test.scss */
.ml150 {
  margin-left: 150px;
}

/* line 20, ../scss/_test.scss */
.mr150 {
  margin-right: 150px;
}

/* line 24, ../scss/_test.scss */
.mt150 {
  margin-top: 150px;
}

/* line 28, ../scss/_test.scss */
.mb150 {
  margin-bottom: 150px;
}

/* line 2, ../scss/_test.scss */
.m155 {
  margin: 155px;
}

/* line 6, ../scss/_test.scss */
.mrl155 {
  margin-left: 155px;
  margin-right: 155px;
}

/* line 11, ../scss/_test.scss */
.mtb155 {
  margin-top: 155px;
  margin-bottom: 155px;
}

/* line 16, ../scss/_test.scss */
.ml155 {
  margin-left: 155px;
}

/* line 20, ../scss/_test.scss */
.mr155 {
  margin-right: 155px;
}

/* line 24, ../scss/_test.scss */
.mt155 {
  margin-top: 155px;
}

/* line 28, ../scss/_test.scss */
.mb155 {
  margin-bottom: 155px;
}

/* line 2, ../scss/_test.scss */
.m160 {
  margin: 160px;
}

/* line 6, ../scss/_test.scss */
.mrl160 {
  margin-left: 160px;
  margin-right: 160px;
}

/* line 11, ../scss/_test.scss */
.mtb160 {
  margin-top: 160px;
  margin-bottom: 160px;
}

/* line 16, ../scss/_test.scss */
.ml160 {
  margin-left: 160px;
}

/* line 20, ../scss/_test.scss */
.mr160 {
  margin-right: 160px;
}

/* line 24, ../scss/_test.scss */
.mt160 {
  margin-top: 160px;
}

/* line 28, ../scss/_test.scss */
.mb160 {
  margin-bottom: 160px;
}

/* line 2, ../scss/_test.scss */
.m165 {
  margin: 165px;
}

/* line 6, ../scss/_test.scss */
.mrl165 {
  margin-left: 165px;
  margin-right: 165px;
}

/* line 11, ../scss/_test.scss */
.mtb165 {
  margin-top: 165px;
  margin-bottom: 165px;
}

/* line 16, ../scss/_test.scss */
.ml165 {
  margin-left: 165px;
}

/* line 20, ../scss/_test.scss */
.mr165 {
  margin-right: 165px;
}

/* line 24, ../scss/_test.scss */
.mt165 {
  margin-top: 165px;
}

/* line 28, ../scss/_test.scss */
.mb165 {
  margin-bottom: 165px;
}

/* line 2, ../scss/_test.scss */
.m170 {
  margin: 170px;
}

/* line 6, ../scss/_test.scss */
.mrl170 {
  margin-left: 170px;
  margin-right: 170px;
}

/* line 11, ../scss/_test.scss */
.mtb170 {
  margin-top: 170px;
  margin-bottom: 170px;
}

/* line 16, ../scss/_test.scss */
.ml170 {
  margin-left: 170px;
}

/* line 20, ../scss/_test.scss */
.mr170 {
  margin-right: 170px;
}

/* line 24, ../scss/_test.scss */
.mt170 {
  margin-top: 170px;
}

/* line 28, ../scss/_test.scss */
.mb170 {
  margin-bottom: 170px;
}

/* line 2, ../scss/_test.scss */
.m175 {
  margin: 175px;
}

/* line 6, ../scss/_test.scss */
.mrl175 {
  margin-left: 175px;
  margin-right: 175px;
}

/* line 11, ../scss/_test.scss */
.mtb175 {
  margin-top: 175px;
  margin-bottom: 175px;
}

/* line 16, ../scss/_test.scss */
.ml175 {
  margin-left: 175px;
}

/* line 20, ../scss/_test.scss */
.mr175 {
  margin-right: 175px;
}

/* line 24, ../scss/_test.scss */
.mt175 {
  margin-top: 175px;
}

/* line 28, ../scss/_test.scss */
.mb175 {
  margin-bottom: 175px;
}

/* line 2, ../scss/_test.scss */
.m180 {
  margin: 180px;
}

/* line 6, ../scss/_test.scss */
.mrl180 {
  margin-left: 180px;
  margin-right: 180px;
}

/* line 11, ../scss/_test.scss */
.mtb180 {
  margin-top: 180px;
  margin-bottom: 180px;
}

/* line 16, ../scss/_test.scss */
.ml180 {
  margin-left: 180px;
}

/* line 20, ../scss/_test.scss */
.mr180 {
  margin-right: 180px;
}

/* line 24, ../scss/_test.scss */
.mt180 {
  margin-top: 180px;
}

/* line 28, ../scss/_test.scss */
.mb180 {
  margin-bottom: 180px;
}

/* line 2, ../scss/_test.scss */
.m185 {
  margin: 185px;
}

/* line 6, ../scss/_test.scss */
.mrl185 {
  margin-left: 185px;
  margin-right: 185px;
}

/* line 11, ../scss/_test.scss */
.mtb185 {
  margin-top: 185px;
  margin-bottom: 185px;
}

/* line 16, ../scss/_test.scss */
.ml185 {
  margin-left: 185px;
}

/* line 20, ../scss/_test.scss */
.mr185 {
  margin-right: 185px;
}

/* line 24, ../scss/_test.scss */
.mt185 {
  margin-top: 185px;
}

/* line 28, ../scss/_test.scss */
.mb185 {
  margin-bottom: 185px;
}

/* line 2, ../scss/_test.scss */
.m190 {
  margin: 190px;
}

/* line 6, ../scss/_test.scss */
.mrl190 {
  margin-left: 190px;
  margin-right: 190px;
}

/* line 11, ../scss/_test.scss */
.mtb190 {
  margin-top: 190px;
  margin-bottom: 190px;
}

/* line 16, ../scss/_test.scss */
.ml190 {
  margin-left: 190px;
}

/* line 20, ../scss/_test.scss */
.mr190 {
  margin-right: 190px;
}

/* line 24, ../scss/_test.scss */
.mt190 {
  margin-top: 190px;
}

/* line 28, ../scss/_test.scss */
.mb190 {
  margin-bottom: 190px;
}

/* line 2, ../scss/_test.scss */
.m195 {
  margin: 195px;
}

/* line 6, ../scss/_test.scss */
.mrl195 {
  margin-left: 195px;
  margin-right: 195px;
}

/* line 11, ../scss/_test.scss */
.mtb195 {
  margin-top: 195px;
  margin-bottom: 195px;
}

/* line 16, ../scss/_test.scss */
.ml195 {
  margin-left: 195px;
}

/* line 20, ../scss/_test.scss */
.mr195 {
  margin-right: 195px;
}

/* line 24, ../scss/_test.scss */
.mt195 {
  margin-top: 195px;
}

/* line 28, ../scss/_test.scss */
.mb195 {
  margin-bottom: 195px;
}

/* line 2, ../scss/_test.scss */
.m200 {
  margin: 200px;
}

/* line 6, ../scss/_test.scss */
.mrl200 {
  margin-left: 200px;
  margin-right: 200px;
}

/* line 11, ../scss/_test.scss */
.mtb200 {
  margin-top: 200px;
  margin-bottom: 200px;
}

/* line 16, ../scss/_test.scss */
.ml200 {
  margin-left: 200px;
}

/* line 20, ../scss/_test.scss */
.mr200 {
  margin-right: 200px;
}

/* line 24, ../scss/_test.scss */
.mt200 {
  margin-top: 200px;
}

/* line 28, ../scss/_test.scss */
.mb200 {
  margin-bottom: 200px;
}

/* line 2, ../scss/_test.scss */
.m205 {
  margin: 205px;
}

/* line 6, ../scss/_test.scss */
.mrl205 {
  margin-left: 205px;
  margin-right: 205px;
}

/* line 11, ../scss/_test.scss */
.mtb205 {
  margin-top: 205px;
  margin-bottom: 205px;
}

/* line 16, ../scss/_test.scss */
.ml205 {
  margin-left: 205px;
}

/* line 20, ../scss/_test.scss */
.mr205 {
  margin-right: 205px;
}

/* line 24, ../scss/_test.scss */
.mt205 {
  margin-top: 205px;
}

/* line 28, ../scss/_test.scss */
.mb205 {
  margin-bottom: 205px;
}

/* line 2, ../scss/_test.scss */
.m210 {
  margin: 210px;
}

/* line 6, ../scss/_test.scss */
.mrl210 {
  margin-left: 210px;
  margin-right: 210px;
}

/* line 11, ../scss/_test.scss */
.mtb210 {
  margin-top: 210px;
  margin-bottom: 210px;
}

/* line 16, ../scss/_test.scss */
.ml210 {
  margin-left: 210px;
}

/* line 20, ../scss/_test.scss */
.mr210 {
  margin-right: 210px;
}

/* line 24, ../scss/_test.scss */
.mt210 {
  margin-top: 210px;
}

/* line 28, ../scss/_test.scss */
.mb210 {
  margin-bottom: 210px;
}

/* line 2, ../scss/_test.scss */
.m215 {
  margin: 215px;
}

/* line 6, ../scss/_test.scss */
.mrl215 {
  margin-left: 215px;
  margin-right: 215px;
}

/* line 11, ../scss/_test.scss */
.mtb215 {
  margin-top: 215px;
  margin-bottom: 215px;
}

/* line 16, ../scss/_test.scss */
.ml215 {
  margin-left: 215px;
}

/* line 20, ../scss/_test.scss */
.mr215 {
  margin-right: 215px;
}

/* line 24, ../scss/_test.scss */
.mt215 {
  margin-top: 215px;
}

/* line 28, ../scss/_test.scss */
.mb215 {
  margin-bottom: 215px;
}

/* line 2, ../scss/_test.scss */
.m220 {
  margin: 220px;
}

/* line 6, ../scss/_test.scss */
.mrl220 {
  margin-left: 220px;
  margin-right: 220px;
}

/* line 11, ../scss/_test.scss */
.mtb220 {
  margin-top: 220px;
  margin-bottom: 220px;
}

/* line 16, ../scss/_test.scss */
.ml220 {
  margin-left: 220px;
}

/* line 20, ../scss/_test.scss */
.mr220 {
  margin-right: 220px;
}

/* line 24, ../scss/_test.scss */
.mt220 {
  margin-top: 220px;
}

/* line 28, ../scss/_test.scss */
.mb220 {
  margin-bottom: 220px;
}

/* line 2, ../scss/_test.scss */
.m225 {
  margin: 225px;
}

/* line 6, ../scss/_test.scss */
.mrl225 {
  margin-left: 225px;
  margin-right: 225px;
}

/* line 11, ../scss/_test.scss */
.mtb225 {
  margin-top: 225px;
  margin-bottom: 225px;
}

/* line 16, ../scss/_test.scss */
.ml225 {
  margin-left: 225px;
}

/* line 20, ../scss/_test.scss */
.mr225 {
  margin-right: 225px;
}

/* line 24, ../scss/_test.scss */
.mt225 {
  margin-top: 225px;
}

/* line 28, ../scss/_test.scss */
.mb225 {
  margin-bottom: 225px;
}

/* line 2, ../scss/_test.scss */
.m230 {
  margin: 230px;
}

/* line 6, ../scss/_test.scss */
.mrl230 {
  margin-left: 230px;
  margin-right: 230px;
}

/* line 11, ../scss/_test.scss */
.mtb230 {
  margin-top: 230px;
  margin-bottom: 230px;
}

/* line 16, ../scss/_test.scss */
.ml230 {
  margin-left: 230px;
}

/* line 20, ../scss/_test.scss */
.mr230 {
  margin-right: 230px;
}

/* line 24, ../scss/_test.scss */
.mt230 {
  margin-top: 230px;
}

/* line 28, ../scss/_test.scss */
.mb230 {
  margin-bottom: 230px;
}

/* line 2, ../scss/_test.scss */
.m235 {
  margin: 235px;
}

/* line 6, ../scss/_test.scss */
.mrl235 {
  margin-left: 235px;
  margin-right: 235px;
}

/* line 11, ../scss/_test.scss */
.mtb235 {
  margin-top: 235px;
  margin-bottom: 235px;
}

/* line 16, ../scss/_test.scss */
.ml235 {
  margin-left: 235px;
}

/* line 20, ../scss/_test.scss */
.mr235 {
  margin-right: 235px;
}

/* line 24, ../scss/_test.scss */
.mt235 {
  margin-top: 235px;
}

/* line 28, ../scss/_test.scss */
.mb235 {
  margin-bottom: 235px;
}

/* line 2, ../scss/_test.scss */
.m240 {
  margin: 240px;
}

/* line 6, ../scss/_test.scss */
.mrl240 {
  margin-left: 240px;
  margin-right: 240px;
}

/* line 11, ../scss/_test.scss */
.mtb240 {
  margin-top: 240px;
  margin-bottom: 240px;
}

/* line 16, ../scss/_test.scss */
.ml240 {
  margin-left: 240px;
}

/* line 20, ../scss/_test.scss */
.mr240 {
  margin-right: 240px;
}

/* line 24, ../scss/_test.scss */
.mt240 {
  margin-top: 240px;
}

/* line 28, ../scss/_test.scss */
.mb240 {
  margin-bottom: 240px;
}

/* line 2, ../scss/_test.scss */
.m245 {
  margin: 245px;
}

/* line 6, ../scss/_test.scss */
.mrl245 {
  margin-left: 245px;
  margin-right: 245px;
}

/* line 11, ../scss/_test.scss */
.mtb245 {
  margin-top: 245px;
  margin-bottom: 245px;
}

/* line 16, ../scss/_test.scss */
.ml245 {
  margin-left: 245px;
}

/* line 20, ../scss/_test.scss */
.mr245 {
  margin-right: 245px;
}

/* line 24, ../scss/_test.scss */
.mt245 {
  margin-top: 245px;
}

/* line 28, ../scss/_test.scss */
.mb245 {
  margin-bottom: 245px;
}

/* line 2, ../scss/_test.scss */
.m250 {
  margin: 250px;
}

/* line 6, ../scss/_test.scss */
.mrl250 {
  margin-left: 250px;
  margin-right: 250px;
}

/* line 11, ../scss/_test.scss */
.mtb250 {
  margin-top: 250px;
  margin-bottom: 250px;
}

/* line 16, ../scss/_test.scss */
.ml250 {
  margin-left: 250px;
}

/* line 20, ../scss/_test.scss */
.mr250 {
  margin-right: 250px;
}

/* line 24, ../scss/_test.scss */
.mt250 {
  margin-top: 250px;
}

/* line 28, ../scss/_test.scss */
.mb250 {
  margin-bottom: 250px;
}

/* line 17, ../scss/_color.scss */
.bg-red {
  background-color: #F44336 !important;
  color: #FFFFFF;
}

/* line 17, ../scss/_color.scss */
.bg-pink {
  background-color: #E91E63 !important;
  color: #FFFFFF;
}

/* line 17, ../scss/_color.scss */
.bg-purple {
  background-color: #9C27B0 !important;
  color: #FFFFFF;
}

/* line 17, ../scss/_color.scss */
.bg-deep-purple {
  background-color: #673AB7 !important;
  color: #FFFFFF;
}

/* line 17, ../scss/_color.scss */
.bg-indigo {
  background-color: #3F51B5 !important;
  color: #FFFFFF;
}

/* line 17, ../scss/_color.scss */
.bg-blue {
  background-color: #2196F3 !important;
  color: #FFFFFF;
}

/* line 17, ../scss/_color.scss */
.bg-light-blue {
  background-color: #03A9F4 !important;
  color: #FFFFFF;
}

/* line 17, ../scss/_color.scss */
.bg-cyan {
  background-color: #00BCD4 !important;
  color: #FFFFFF;
}

/* line 17, ../scss/_color.scss */
.bg-teal {
  background-color: #009688 !important;
  color: #FFFFFF;
}

/* line 17, ../scss/_color.scss */
.bg-green {
  background-color: #4CAF50 !important;
  color: #FFFFFF;
}

/* line 17, ../scss/_color.scss */
.bg-light-green {
  background-color: #8BC34A !important;
  color: #FFFFFF;
}

/* line 17, ../scss/_color.scss */
.bg-lime {
  background-color: #CDDC39 !important;
  color: #FFFFFF;
}

/* line 17, ../scss/_color.scss */
.bg-yellow {
  background-color: #FFEB3B !important;
  color: #FFFFFF;
}

/* line 17, ../scss/_color.scss */
.bg-amber {
  background-color: #FFC107 !important;
  color: #FFFFFF;
}

/* line 17, ../scss/_color.scss */
.bg-orange {
  background-color: #FF9800 !important;
  color: #FFFFFF;
}

/* line 17, ../scss/_color.scss */
.bg-deep-orange {
  background-color: #FF5722 !important;
  color: #FFFFFF;
}

/* line 17, ../scss/_color.scss */
.bg-brown {
  background-color: #795548 !important;
  color: #FFFFFF;
}

/* line 17, ../scss/_color.scss */
.bg-grey {
  background-color: #9E9E9E !important;
  color: #FFFFFF;
}

/* line 17, ../scss/_color.scss */
.bg-blue-grey {
  background-color: #607D8B !important;
  color: #FFFFFF;
}

/* line 3, ../scss/_general.scss */
body {
  background-color: #F3F3F3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  letter-spacing: .5px;
}

/* line 10, ../scss/_general.scss */
a {
  text-decoration: none;
}

/* line 15, ../scss/_general.scss */
ul li {
  list-style: none;
}

/* line 22, ../scss/_general.scss */
.content {
  margin: 85px 15px 0 315px;
  padding: .5rem;
}
@media (max-width: 1169px) {
  /* line 22, ../scss/_general.scss */
  .content {
    margin: 100px 15px 0 15px;
  }
}
/* line 29, ../scss/_general.scss */
.content .header h1 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* line 1, ../scss/_form.scss */
label, input, .btn, .input-group-addon {
  font-size: .875rem !important;
}

/* line 5, ../scss/_form.scss */
.btn {
  padding: .4rem 1rem;
}

/* line 10, ../scss/_form.scss */
.form-group .form-control, .form-group .help-block {
  font-size: .875rem !important;
}
/* line 21, ../scss/_form.scss */
.form-group .help-block {
  margin-top: 0.25rem;
}

/* line 1, ../scss/_info-card.scss */
.info-card {
  width: 100%;
  height: 80px;
  display: flex;
  background-color: #FFFFFF;
  margin-bottom: 25px;
}
/* line 7, ../scss/_info-card.scss */
.info-card .icon, .info-card .info {
  display: inline-block;
}
/* line 11, ../scss/_info-card.scss */
.info-card .icon {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.12);
  width: 80px;
}
/* line 15, ../scss/_info-card.scss */
.info-card .icon i {
  font-size: 3rem;
  line-height: 80px;
}
/* line 20, ../scss/_info-card.scss */
.info-card .info {
  padding: 7px 10px;
}
/* line 22, ../scss/_info-card.scss */
.info-card .info .label {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 600;
}
/* line 27, ../scss/_info-card.scss */
.info-card .info .value {
  margin-top: -4px;
  font-size: 26px;
  font-weight: 600;
}

/* line 1, ../scss/_navbar.scss */
.navbar {
  padding: 0;
  background-color: #FFFFFF !important;
  left: 300px;
  height: 70px;
}
@media (max-width: 1169px) {
  /* line 1, ../scss/_navbar.scss */
  .navbar {
    left: 0px;
  }
}
/* line 9, ../scss/_navbar.scss */
.navbar .navbar-toggler {
  /*display:none !important;*/
  padding: 1rem !important;
  border-color: transparent;
  outline: 0;
  cursor: pointer;
}
/* line 15, ../scss/_navbar.scss */
.navbar .navbar-toggler:focus {
  border: none;
}
@media (max-width: 1169px) {
  /* line 9, ../scss/_navbar.scss */
  .navbar .navbar-toggler {
    display: inline-block !important;
  }
}
/* line 22, ../scss/_navbar.scss */
.navbar .navbar-brand {
  margin-right: 0;
  width: 375px;
  height: 70px;
  padding: 1rem !important;
  background: transparent;
}
@media (max-width: 1169px) {
  /* line 22, ../scss/_navbar.scss */
  .navbar .navbar-brand {
    margin-left: 4.5rem;
  }
}
/* line 33, ../scss/_navbar.scss */
.navbar .navbar-nav {
  margin-right: 15px;
  vertical-align: top;
  min-width: 50px;
}
/* line 37, ../scss/_navbar.scss */
.navbar .navbar-nav li {
  display: inline-block;
}
/* line 39, ../scss/_navbar.scss */
.navbar .navbar-nav li a {
  padding: 7px 10px 2px 10px;
  margin-top: 17px;
  margin-left: 5px;
  color: #3F51B5;
}
/* line 44, ../scss/_navbar.scss */
.navbar .navbar-nav li a i {
  font-size: 24px;
}

/* line 1, ../scss/_reset.scss */
ol.breadcrumb {
  padding: 0rem !important;
  background-color: transparent !important;
}
/* line 4, ../scss/_reset.scss */
ol.breadcrumb li {
  font-size: .875rem;
}

/* line 1, ../scss/_sidebar.scss */
.overlay {
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 10;
}

/* line 15, ../scss/_sidebar.scss */
.sidebar {
  background: url(../img/bg-sidebar.jpg) center center no-repeat;
  background-size: cover;
  width: 300px;
  /*height: calc(100vh - 70px);*/
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0px;
  /*	padding-top:70px;*/
  left: 0;
  display: inline-block;
  z-index: 11 !important;
  margin-left: 0px;
}
@media (max-width: 1169px) {
  /* line 15, ../scss/_sidebar.scss */
  .sidebar {
    margin-left: -300px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    /*		&.show {
    			margin-left:0px;
    			@include transition(all .3s);
    		}*/
  }
}
/* line 38, ../scss/_sidebar.scss */
.sidebar .navbar-brand {
  height: 70px;
  text-align: center;
  font-weight: 600;
  /*width: calc(300px - 36px);*/
  width: 100%;
  padding: 15px;
  color: #FFFFFF;
  /*    	border-bottom: solid 1px $colorWhite;*/
  margin: 0;
  background-color: rgba(63, 81, 181, 0.8);
}
/* line 51, ../scss/_sidebar.scss */
.sidebar .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(linear, bottom, top, #3f51b5, rgba(63, 81, 181, 0.75));
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image: -webkit-linear-gradient(top, #3f51b5, rgba(63, 81, 181, 0.75));
  /* Firefox 3.6 - 15 */
  background-image: -moz-linear-gradient(top, #3f51b5, rgba(63, 81, 181, 0.75));
  /* Opera 11.1 - 12 */
  background-image: -o-linear-gradient(top, #3f51b5, rgba(63, 81, 181, 0.75));
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image: linear-gradient(to top, #3f51b5, rgba(63, 81, 181, 0.75));
  z-index: -1;
}
/* line 61, ../scss/_sidebar.scss */
.sidebar .user-info {
  padding: 13px 15px 12px 15px;
  height: 135px;
  /*        background: url(../img/bg-user-profile.jpg) left top no-repeat;*/
  background-size: cover;
  position: relative;
}
/* line 68, ../scss/_sidebar.scss */
.sidebar .user-info .image {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  margin-top: .5rem;
}
/* line 73, ../scss/_sidebar.scss */
.sidebar .user-info .image img {
  width: 100%;
}
/* line 77, ../scss/_sidebar.scss */
.sidebar .user-info .info {
  position: absolute;
  left: 0px;
  bottom: 15px;
  width: 100%;
  /*			background-color: rgba(0,0,0,0.5);*/
  padding: 7px 15px;
  color: #FFFFFF;
}
/* line 85, ../scss/_sidebar.scss */
.sidebar .user-info .info h5 {
  font-size: 16px;
  margin: 0;
  text-align: center;
}
/* line 94, ../scss/_sidebar.scss */
.sidebar .menu .menu-title {
  padding: 0 1em;
  margin-top: .75rem;
}
/* line 97, ../scss/_sidebar.scss */
.sidebar .menu .menu-title h4 {
  color: #F3F3F3;
  font-size: 16px;
  /*				font-weight: 600;*/
  padding-bottom: .5rem;
  border-bottom: solid 1px #FFFFFF;
  opacity: 0.875;
}
/* line 106, ../scss/_sidebar.scss */
.sidebar .menu ul.nav {
  margin-bottom: 1.5rem;
}
/* line 109, ../scss/_sidebar.scss */
.sidebar .menu ul.nav .nav-item .nav-link {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  padding: 0.75em 1em;
}
/* line 115, ../scss/_sidebar.scss */
.sidebar .menu ul.nav .nav-item .nav-link i {
  font-size: 1.25rem;
  padding-right: .5rem;
}
/* line 120, ../scss/_sidebar.scss */
.sidebar .menu ul.nav .nav-item.active, .sidebar .menu ul.nav .nav-item:hover, .sidebar .menu ul.nav .nav-item:focus {
  background-color: rgba(33, 33, 33, 0.25);
}
/* line 122, ../scss/_sidebar.scss */
.sidebar .menu ul.nav .nav-item.active a, .sidebar .menu ul.nav .nav-item:hover a, .sidebar .menu ul.nav .nav-item:focus a {
  color: #FFFFFF;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  border-radius: 0px !important;
}
/* line 129, ../scss/_sidebar.scss */
.sidebar .menu ul.nav .nav-item.has-child[aria-expanded="true"] {
  background-color: rgba(33, 33, 33, 0.25);
}
/* line 132, ../scss/_sidebar.scss */
.sidebar .menu ul.nav .nav-item.has-child .menu-child-wrapper {
  margin-left: 1rem;
}
/* line 134, ../scss/_sidebar.scss */
.sidebar .menu ul.nav .nav-item.has-child .menu-child-wrapper .nav {
  margin-bottom: 0rem;
}
/* line 136, ../scss/_sidebar.scss */
.sidebar .menu ul.nav .nav-item.has-child .menu-child-wrapper .nav .nav-item {
  background: none !important;
  background-color: transparent !important;
}
/* line 139, ../scss/_sidebar.scss */
.sidebar .menu ul.nav .nav-item.has-child .menu-child-wrapper .nav .nav-item a {
  background: none !important;
  background-color: transparent !important;
  padding-left: 2rem;
}
/* line 146, ../scss/_sidebar.scss */
.sidebar .menu ul.nav .nav-item.has-child .menu-child-wrapper .nav:hover, .sidebar .menu ul.nav .nav-item.has-child .menu-child-wrapper .nav:focus {
  background: none !important;
  background-color: transparent !important;
}
/* line 149, ../scss/_sidebar.scss */
.sidebar .menu ul.nav .nav-item.has-child .menu-child-wrapper .nav:hover a, .sidebar .menu ul.nav .nav-item.has-child .menu-child-wrapper .nav:focus a {
  background: none !important;
  background-color: transparent !important;
  color: #FFFFFF;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  border-radius: 0px !important;
}

/* line 164, ../scss/_sidebar.scss */
.overlay-show {
  /*	.overlay {
  		display: block;
  		opacity: 1;
  		@include transition(opacity .3s);
  	}*/
}
@media (max-width: 1169px) {
  /* line 171, ../scss/_sidebar.scss */
  .overlay-show .sidebar {
    margin-left: 0px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
